In [1]:
import pandas as pd
from sqlalchemy import create_engine

import numpy as np

In [2]:
new_york_data=pd.read_csv("NYPD_Complaint_Data_Historic (1).csv")
chicago_data=pd.read_csv("Crimes_-_2001_to_present (1).csv")

C:\Users\seama\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
new_york_data.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,522575447,8/29/2006,13:00:00,NaN,NaN,43.0,8/30/2006,578,HARRASSMENT 2,638.0,...,M,NaN,40.827414,-73.877946,"(40.827414051, -73.877945775)",PATROL BORO BRONX,NaN,25-44,BLACK HISPANIC,F
1,403507361,11/5/2006,11:00:00,11/5/2006,17:40:00,66.0,11/5/2006,107,BURGLARY,221.0,...,NaN,NaN,40.637097,-74.006105,"(40.637096864, -74.006105014)",PATROL BORO BKLYN SOUTH,NaN,45-64,ASIAN / PACIFIC ISLANDER,F
2,631420068,9/8/2006,23:30:00,9/9/2006,0:01:00,106.0,9/9/2006,347,INTOXICATED & IMPAIRED DRIVING,905.0,...,NaN,NaN,40.679260,-73.841500,"(40.679260229, -73.841500185)",PATROL BORO QUEENS SOUTH,NaN,NaN,UNKNOWN,E
3,995609899,12/13/2011,18:40:00,12/13/2011,18:49:00,79.0,12/13/2011,341,PETIT LARCENY,333.0,...,NaN,NaN,40.687402,-73.940369,"(40.687401619, -73.940369194)",PATROL BORO BKLYN NORTH,NaN,NaN,UNKNOWN,D
4,480667624,8/14/2009,4:20:00,NaN,NaN,30.0,8/14/2009,113,FORGERY,729.0,...,NaN,NaN,40.831576,-73.942983,"(40.831576128, -73.942982699)",PATROL BORO MAN NORTH,NaN,NaN,UNKNOWN,E

In [4]:
#choosing columns we need
chicago_data = chicago_data.drop(["Case Number", "Block", "Location Description", "Beat", "District", "Ward", "Community Area", "FBI Code", "X Coordinate", "Y Coordinate","Latitude","Longitude","Updated On","IUCR"], axis = 1)
chicago_data.head()

,ID,Date,Primary Type,Description,Arrest,Domestic,Year,Location
0,11034701,1/1/2001 11:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2001,NaN
1,11227287,10/8/2017 3:00,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,False,False,2017,NaN
2,11227583,3/28/2017 14:00,BURGLARY,UNLAWFUL ENTRY,False,False,2017,NaN
3,11227293,9/9/2017 20:17,THEFT,OVER $500,False,False,2017,NaN
4,11227634,8/26/2017 10:00,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,False,False,2017,NaN

In [5]:
new_york_data=new_york_data.drop(["CMPLNT_TO_DT","CMPLNT_TO_TM","CMPLNT_FR_TM",  "ADDR_PCT_CD", "RPT_DT", "PD_CD","X_COORD_CD","Y_COORD_CD",
                                  "JURISDICTION_CODE", "Latitude","Longitude","KY_CD","HOUSING_PSA","HADEVELOPT","LOC_OF_OCCUR_DESC", "JURIS_DESC", "PARKS_NM","PATROL_BORO"], axis=1)
new_york_data.head()

,CMPLNT_NUM,CMPLNT_FR_DT,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,PREM_TYP_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,Lat_Lon,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,522575447,8/29/2006,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",COMPLETED,VIOLATION,BRONX,RESIDENCE - APT. HOUSE,NaN,UNKNOWN,M,NaN,"(40.827414051, -73.877945775)",NaN,25-44,BLACK HISPANIC,F
1,403507361,11/5/2006,BURGLARY,"BURGLARY,RESIDENCE,DAY",COMPLETED,FELONY,BROOKLYN,RESIDENCE - APT. HOUSE,NaN,NaN,NaN,NaN,"(40.637096864, -74.006105014)",NaN,45-64,ASIAN / PACIFIC ISLANDER,F
2,631420068,9/8/2006,INTOXICATED & IMPAIRED DRIVING,"INTOXICATED DRIVING,ALCOHOL",COMPLETED,MISDEMEANOR,QUEENS,STREET,NaN,NaN,NaN,NaN,"(40.679260229, -73.841500185)",NaN,NaN,UNKNOWN,E
3,995609899,12/13/2011,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,MISDEMEANOR,BROOKLYN,CHAIN STORE,NaN,NaN,NaN,NaN,"(40.687401619, -73.940369194)",NaN,NaN,UNKNOWN,D
4,480667624,8/14/2009,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,MANHATTAN,STREET,NaN,NaN,NaN,NaN,"(40.831576128, -73.942982699)",NaN,NaN,UNKNOWN,E

In [6]:
#renaming columns
new_york_data = new_york_data.rename(columns={"CMPLNT_NUM":"ID","CMPLNT_FR_DT":"Date","CMPLNT_FR_TM":"Time",
                                              "ADDR_PCT_CD":"Precinct of Incident","RPT_DT":"Reported Date",
                                              "OFNS_DESC":"Primary Type","PD_DESC":"Description","CRM_ATPT_CPTD_CD":"Crime Status",
                                              "LAW_CAT_CD":"Offense Level","BORO_NM":"Borough","LOC_OF_OCCUR_DESC":"Specific Location",
                                              "PREM_TYP_DESC":"Description of Prem","JURIS_DESC":"Juris Desc",
                                              "JURISDICTION_CODE":"Juris Code","SUSP_AGE_GROUP":"Suspect Age","SUSP_RACE":"Suspect Race",
                                              "SUSP_SEX":"Suspect Sex","TRANSIT_DISTRICT":"Transit District","Lat_Lon":"Geo Location",
                                              "STATION_NAME":"Transit Station","VIC_AGE_GROUP":"Victim Age","VIC_RACE":"Victim Race",
                                              "VIC_SEX":"Victim Sex"})
new_york_data.head()

,ID,Date,Primary Type,Description,Crime Status,Offense Level,Borough,Description of Prem,Suspect Age,Suspect Race,Suspect Sex,Transit District,Geo Location,Transit Station,Victim Age,Victim Race,Victim Sex
0,522575447,8/29/2006,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",COMPLETED,VIOLATION,BRONX,RESIDENCE - APT. HOUSE,NaN,UNKNOWN,M,NaN,"(40.827414051, -73.877945775)",NaN,25-44,BLACK HISPANIC,F
1,403507361,11/5/2006,BURGLARY,"BURGLARY,RESIDENCE,DAY",COMPLETED,FELONY,BROOKLYN,RESIDENCE - APT. HOUSE,NaN,NaN,NaN,NaN,"(40.637096864, -74.006105014)",NaN,45-64,ASIAN / PACIFIC ISLANDER,F
2,631420068,9/8/2006,INTOXICATED & IMPAIRED DRIVING,"INTOXICATED DRIVING,ALCOHOL",COMPLETED,MISDEMEANOR,QUEENS,STREET,NaN,NaN,NaN,NaN,"(40.679260229, -73.841500185)",NaN,NaN,UNKNOWN,E
3,995609899,12/13/2011,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,MISDEMEANOR,BROOKLYN,CHAIN STORE,NaN,NaN,NaN,NaN,"(40.687401619, -73.940369194)",NaN,NaN,UNKNOWN,D
4,480667624,8/14/2009,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",COMPLETED,FELONY,MANHATTAN,STREET,NaN,NaN,NaN,NaN,"(40.831576128, -73.942982699)",NaN,NaN,UNKNOWN,E

In [7]:
chicago_data.head()

,ID,Date,Primary Type,Description,Arrest,Domestic,Year,Location
0,11034701,1/1/2001 11:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2001,NaN
1,11227287,10/8/2017 3:00,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,False,False,2017,NaN
2,11227583,3/28/2017 14:00,BURGLARY,UNLAWFUL ENTRY,False,False,2017,NaN
3,11227293,9/9/2017 20:17,THEFT,OVER $500,False,False,2017,NaN
4,11227634,8/26/2017 10:00,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,False,False,2017,NaN

In [8]:

start_date='1/1/2006'
end_date='12/31/2017'
new = (chicago_data['Date'] > start_date) & (chicago_data['Date'] <= end_date)
chicago_new = chicago_data.loc[new]
chicago_new

,ID,Date,Primary Type,Description,Arrest,Domestic,Year,Location
1,11227287,10/8/2017 3:00,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,False,False,2017,NaN
6,11227503,1/1/2015 0:01,OFFENSE INVOLVING CHILDREN,CRIM SEX ABUSE BY FAM MEMBER,False,True,2015,NaN
7,11227508,1/1/2017 0:01,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,False,False,2017,NaN
9,11227633,12/28/2017 15:55,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2017,NaN
11,11227475,11/22/2017 2:42,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,False,True,2017,NaN
12,11227247,1/1/2012 9:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2012,NaN
14,11227509,1/22/2017 0:01,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,False,False,2017,NaN
15,11227407,10/14/2017 0:01,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,False,False,2017,NaN
16,11028056,10/15/2014 15:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2014,NaN
17,5253983,10/17/2006 13:05,NARCOTICS,MANU/DELIVER:CRACK,True,False,2006,NaN
21,11042125,12/16/2011 0:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2011,NaN
24,11039126,1/1/2007 0:01,CRIM SEXUAL ASSAULT,PREDATORY,False,False,2007,NaN
25,11042582,1/1/2011 0:01,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,True,True,2011,NaN
29,11042867,1/1/2015 0:01,CRIM SEXUAL ASSAULT,PREDATORY,False,False,2015,NaN
30,11042911,1/1/2013 12:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,False,False,2013,NaN
31,11042930,1/1/2010 0:01,CRIM SEXUAL ASSAULT,PREDATORY,False,False,2010,NaN
32,11042931,1/1/2015 0:01,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,False,False,2015,NaN
33,11042934,1/27/2015 0:01,CRIM SEXUAL ASSAULT,PREDATORY,False,False,2015,NaN
34,11042861,1/1/2007 0:01,CRIM SEXUAL ASSAULT,PREDATORY,False,False,2007,NaN
36,11042927,1/1/2015 0:01,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,False,True,2015,NaN
38,11042914,1/1/2008 0:01,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,False,True,2008,NaN
39,11042939,1/1/2015 0:01,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,False,False,2015,NaN
40,11043021,10/19/2016 19:00,BURGLARY,FORCIBLE ENTRY,False,False,2016,NaN
42,11227569,10/1/2017 0:00,OFFENSE INVOLVING CHILDREN,CHILD PORNOGRAPHY,False,False,2017,NaN
43,11042938,1/1/2007 0:01,CRIM SEXUAL ASSAULT,PREDATORY,False,False,2007,NaN
48,1833988,11/2/2001 18:30,THEFT,OVER $500,False,False,2001,NaN
50,11243056,12/13/2017 0:01,THEFT,OVER $500,False,False,2017,NaN
51,11243415,12/18/2017 9:00,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,False,False,2017,NaN
54,11243109,12/14/2017 12:15,OTHER OFFENSE,HARASSMENT BY TELEPHONE,False,False,2017,NaN
56,11243026,11/15/2017 14:00,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,False,False,2017,NaN
...,...,...,...,...,...,...,...,...
1037452,11317065,1/9/2018 10:00,THEFT,OVER $500,False,False,2018,"(41.943317614, -87.670499215)"
1037822,11317543,1/1/2018 9:00,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,False,False,2018,"(41.932012618, -87.640940116)"
1038313,11318181,1/10/2018 8:00,THEFT,FROM BUILDING,False,False,2018,"(41.985387888, -87.700444412)"
1038756,11318745,1/1/2018 20:18,THEFT,OVER $500,False,False,2018,"(41.931434417, -87.686733611)"
1038830,11318850,1/18/2018 10:00,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,False,False,2018,"(41.957374078, -87.722041853)"
1039009,11319096,1/15/2018 9:00,THEFT,OVER $500,False,False,2018,"(41.774384393, -87.790908119)"
1039617,11319854,1/30/2018 9:00,THEFT,$500 AND UNDER,False,False,2018,"(41.965105205, -87.687580918)"
1039741,1132,10/6/2001 5:16,HOMICIDE,FIRST DEGREE MURDER,True,False,2001,"(41.77772781, -87.602827178)"
1039818,11320109,1/1/2018 10:00,THEFT,$500 AND UNDER,False,False,2018,"(41.891133566, -87.624134682)"
1039819,11320110,1/6/2018 17:30,BATTERY,DOMESTIC BATTERY SIMPLE,False,True,2018,"(41.88946287, -87.624222942)"
1039861,11320166,1/25/2018 12:00,THEFT,OVER $500,False,False,2018,"(41.921156985, -87.757291251)"
1040648,11321178,1/18/2018 11:15,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2018,"(41.879292345, -87.741396534)"
1041214,11321933,1/18/2018 10:30,THEFT,FROM BUILDING,False,False,2018,"(41.777069754, -87.648357886)"
1041298,11322046,1/14/2018 12:00,THEFT,$500 AND UNDER,False,False,2018,"(41.797625303, -87.596605099)"
1041319,11322069,1/3/2018 12:00,THEFT,$500 AND UNDER,False,True,2018,"(41.961387612, -87.654887983)"
1041681,11322573,1/9/2018 0:00,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2018,"(41.771524189, -87.582163331)"
1042058,11323115,1/1/2018 0:01,OFFENSE INVOLVING CHILDREN,CRIM SEX ABUSE BY FAM MEMBER,False,False,2018,"(41.937870054, -87.750367085)"
1042072,11323143,1/1/2018 0:01,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,False,True,2018,"(41.871938328, -87.69934348)"
1042165,11323269,1/22/2018 12:00,OTHER OFFENSE,OTHER CRIME INVOLVING PROPERTY,False,False,2018,"(41.743521771, -87.633060702)"
1042624,11323867,1/1/2018 9:00,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,False,False,2018,"(41.863580239, -87.694554444)"
1042817,11324121,1/23/2018 13:00,BURGLARY,FORCIBLE ENTRY,False,False,2018,"(41.930939526, -87.790969264)"
1043426,11324952,1/20/2018 8:00,NARCOTICS,MANU/DELIVER: HEROIN (WHITE),True,False,2018,"(41.783042271, -87.615695083)"
1043450,11324984,1/21/2018 13:50,NARCOTICS,MANU/DELIVER:CRACK,True,False,2018,"(41.755822692, -87.55677583)"
1043456,11324993,1/21/2018 8:56,NARCOTICS,MANU/DELIVER:CRACK,True,False,2018,"(41.873103348, -87.746068964)"
1043462,11325002,1/20/2018 12:55,NARCOTICS,MANU/DELIVER: HEROIN (WHITE),True,False,2018,"(41.880362084, -87.755847438)"
1046359,11328729,1/27/2018 12:00,THEFT,FROM BUILDING,False,False,2018,"(41.781473686, -87.601090762)"
1047333,1133,10/7/2001 3:25,HOMICIDE,FIRST DEGREE MURDER,True,False,2001,"(41.736873382, -87.555571565)"
1047666,11330440,1/4/2018 13:00,OTHER OFFENSE,OTHER CRIME AGAINST PERSON,False,True,2018,"(41.885702079, -87.642031644)"
1047932,11330786,1/15/2018 9:00,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,False,True,2018,"(41.911468651, -87.78507587)"
1048145,11331058,1/6/2018 10:30,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2018,"(41.913376455, -87.670206562)"

In [9]:
chicago_new['Date'] = pd.to_datetime(chicago_new['Date']).dt.strftime('%m/%d/%Y')
chicago_new.head()

C:\Users\seama\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ID,Date,Primary Type,Description,Arrest,Domestic,Year,Location
1,11227287,10/08/2017,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,False,False,2017,NaN
6,11227503,01/01/2015,OFFENSE INVOLVING CHILDREN,CRIM SEX ABUSE BY FAM MEMBER,False,True,2015,NaN
7,11227508,01/01/2017,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,False,False,2017,NaN
9,11227633,12/28/2017,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,False,False,2017,NaN
11,11227475,11/22/2017,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,False,True,2017,NaN

In [10]:
# chicago_new['Date']=chicago_new['Date'].dt.strftime('%m/%d/%Y')
# chicago_new.head()

In [11]:
chicago_new.sort_values(by='Date', ascending=True, inplace=True)
chicago_new.head()

C:\Users\seama\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,ID,Date,Primary Type,Description,Arrest,Domestic,Year,Location
42540,6482811,01/01/2006,THEFT,FINANCIAL ID THEFT: OVER $300,False,False,2006,NaN
24990,6569455,01/01/2006,THEFT,FINANCIAL ID THEFT:$300 &UNDER,False,False,2006,NaN
24988,6569380,01/01/2006,CRIM SEXUAL ASSAULT,PREDATORY,False,False,2006,NaN
41875,6357042,01/01/2006,THEFT,FINANCIAL ID THEFT: OVER $300,False,False,2006,NaN
24966,6532372,01/01/2006,THEFT,FINANCIAL ID THEFT:$300 &UNDER,False,False,2006,NaN

In [15]:
crime_data = pd.merge(new_york_data, chicago_data, how = "inner", on = "Date")
crime_data.head()

Empty DataFrame
Columns: [ID_x, Date, Primary Type_x, Description_x, Crime Status, Offense Level, Borough, Description of Prem, Suspect Age, Suspect Race, Suspect Sex, Transit District, Geo Location, Transit Station, Victim Age, Victim Race, Victim Sex, ID_y, Primary Type_y, Description_y, Arrest, Domestic, Year, Location]
Index: []

[0 rows x 24 columns]